@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  height: 1000px;
}

body {
  font-family: "Inter";
}

/* ------------------- NAVBAR */
nav {
  height: 60px;
  position: fixed;
  width: 100svw;
  background-color: white;
  z-index: 1;
}
.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5pxpx;
  margin-inline: 170px;
}
.main-nav {
  display: flex;
  list-style-type: none;
}

.main-nav li {
  padding-inline: 20px;
}

.main-nav a {
  font-size: 14px;
  font-weight: 600;
  text-wrap: nowrap;
  text-decoration: none;
  color: #374151;
}
.button-nav {
  display: flex;
  list-style-type: none;
}
.button-nav li {
  padding-inline: 20px;
}
.button-nav a {
  font-weight: 600;

  text-wrap: nowrap;
  text-decoration: none;
}

.logo {
  margin: 18px 40px;
}
.logo img {
  height: 22px;
  width: 68px;
}
.login {
  font-size: 14px;

  color: #374151;
}
.button-purple {
  font-size: 12px;
  background-color: #714b67;
  color: white;
  padding: 9px 16px;
  border: 1px solid #714b67;
  border-radius: 4px;
}

/* --------------------- SECTION 1 */
section.one {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 64px;
  border-top: 60px;
}
.caveat {
  font-family: "caveat";
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.one .container {
  padding-inline: 200px;
  margin-top: 60px;
  line-height: 1;
}

.container h1 {
  font-size: 96px;
  font-weight: 700;
  margin-bottom: 16px;
}
.container h2 {
  font-size: 64px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 48px;
}

.doodle-yellow {
  background-image: url("https://odoocdn.com/openerp_website/static/src/img/highlights/yellow_highlight_bold_05.svg");
  background-position: 60%;
  background-repeat: no-repeat;
  background-size: contain;
  white-space: nowrap;
}

.doodle-blue {
  background-image: url("https://odoocdn.com/openerp_website/static/src/img/highlights/blue_highlight_01.svg");
  background-position-x: 50%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  white-space: nowrap;
}
em {
  text-align: center;
  text-wrap: nowrap;
  color: #714b67;
  font-size: 32px;
  font-weight: 700px;
  position: absolute;
  rotate: 350deg;
  margin-right: -12rem;
  margin-top: -1rem;
  left: 70%;
  /* z-index: -1; */
}

.begin-button {
  background-color: #714b67;
  padding: 12px 24px;
  margin: 0px 16px 8px 0px;
  border: 2px solid #714b67;
  border-radius: 4px;

  font-weight: 600;
  color: white;
  text-decoration: none;
}
.demo-button {
  background-color: #f3f4f6;
  padding: 12px 24px;
  margin: 0px 16px 8px 0px;
  border: 2px solid #f3f4f6;
  border-radius: 4px;
  font-weight: 600;
  color: #714b67;
  text-decoration: none;
}

/* -------------- SECTION 2 */

section.two {
  background-color: #f3f4f6;
  margin-top: 30px;
  /* padding-bottom: 96px; */
}

.container-fluid {
  margin-inline: 291.5px;
  padding-inline: 16px;
}

.container-app {
  display: flex;
  justify-content: center;
  /* margin-inline: -20px; */
  /* background-color: red; */
}

.content-app {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}
.checkbox-app {
  grid-column: span 3 / span 3;

}

.all-app {
  padding-top: 40px;
  grid-column: span 3 / span 3;
  grid-column-start: 4;
  text-align: right;
  
}
.all-app a{
  font-size: 16px;
  color: #017e84;
  text-decoration: none;
  font-weight: 600;
}

.all-app img {
  height: 20px;
}
.img-app {
  text-decoration: none;
  color: #111827;
  font-size: 14px;
  font-weight: 600;
  margin-inline: 12px;
  margin-bottom: 30px;
  /* height: 100px; */
}

.img-app figure{
  text-align: center;
  /* text-decoration: ; */
  margin: 0;

}

.img-app img {
  box-sizing: border-box;
  margin-bottom: 16px;
  white-space-collapse: collapse;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  padding: 0.75rem;
  background-color: white;
}

/* ------- TOGGLE */
input[type="checkbox"] {
  display: none;
}

label {
  display: inline-block;
  width: 50px;
  height: 25px;
  border-radius: 15px;
  background: #ffffff;
  position: relative;
  cursor: pointer;
}

label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #000000;
  transition: all 0.4s ease-in-out;
}

input[type="checkbox"]:checked + label {
  background: #714b67;
}

input[type="checkbox"]:checked + label::before {
  transform: translateX(25px);
  background: #ffffff;

}

.checkbox-img {
  height: 60px;
  width: 60px;
}

/* SECTION THREE 3 */

.three {
  font-size: 24px;
  text-align: center;
  color: #111827;
  background-color: #f3f4f6;
  height: 2000px;
}
.end-three {
  font-size: 24px;
  text-align: center;
  color: #111827;
  background-color: #f3f4f6;
  padding-bottom: 100px;
}

.three p, .end-three p{
  margin-top: 0;
  line-height: 1.5;
}

.arrow_doodle_3 {
  rotate: 40deg;
}

.banding {
  font-family: "Caveat";
  font-size: 32px;

}
.banding a {
  text-decoration: none;
  color: #714b67;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* SECTION FOUR  */

.doodle-blue-2 {
  background-image: url("https://odoocdn.com/openerp_website/static/src/img/highlights/blue_highlight_bold_03.svg");
  background-position: center 60%;
  background-repeat: no-repeat;
  background-size: contain;
  white-space: nowrap;
}

.four h2 {
  font-family: "Caveat";
  font-size: 80px;
  text-align: center;
}

.four .grid {
  display: grid;
  grid-template-columns: auto auto auto;
}
.tech-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;

}
.tech-list div {
  background-color: #f3f4f6;
  border-radius: 50%;
}

/* SECTION FIVE 5 */
.five {
  text-align: center;
  padding-bottom: 50px;
}
.five a{
  background-color: #714b67;
  margin: 0px 0px 16px;
  font-weight: 600;
  color: white;
  padding: 16px 32px;
  border: #714b67 1px solid;
  
  font-size: 18px;
  text-decoration: none;
  border-radius: 4px;
}

/* FOOTER  */
footer {
  background-color: #252733;
  /* height: 400px; */
  color: #adb5bd;
  /* text-align: center; */
  /* display: flex; */
}
.footer-logo {
  display: flex;
  justify-content: center;
}
.footer-logo img{
  height: 30px;
  width: 94px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-inline: auto;
}
.bot {
  display: flex;
  justify-content: space-between;

}

.linking {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 14px;
  column-gap: 80px;
  row-gap: 50px;
  
}
.linking ul {
  padding-inline-start: 0px;
  line-height: 1.5;
}
.linking li {
  list-style: none;
  text-align: left;
}
.linking span {
  font-size: 20px;
  color: white;
}

.opensource {
  grid-row-start: 2;
}
.service , .aboutus{
  grid-row: span 2 / span 2;
}

.divider {
  height: 0.75rem;
}

.aboutodoo {
  font-size: 14px;
  margin-inline: auto;
  padding-inline: 50px;
  width: 50%;
  padding-top: 50px;
}
.aboutodoo div{
  margin-left: 150px;
}

.socialmedia {
  display: flex;
  gap: 20px;
}
.socialmedia svg{
  width: 16px;
  height: 50px;
}